* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-details {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 500px;
  height: 100vh;
  max-height: 300px;
  background-color: slategray;
  border-radius: 7px;
}
