* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgb(79, 255, 152);
  text-shadow: 0.1em 0.1em 0 rgb(73, 39, 0);
}

.weather-details {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: calc(2rem + 20px) 1fr;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 500px;
  height: 100vh;
  max-height: 300px;
  background-color: slategray;
  border-radius: 7px;
}

.weather-details .top {
  position: relative;
  grid-column: 1 / 3;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.3rem;
  border-bottom: 2px solid whitesmoke;
  padding: 0 10px;
}

.weather-details .top > span {
  height: 2rem;
  line-height: 2rem;
}

.fltLeft {
  float: left;
}

.fltRight {
  float: right;
}

.align-center {
  display: grid;
  justify-content: stretch;
  text-align: center;
}

.align-center.right {
  text-align: left;
}

span.mainWeather {
  font-size: 2rem;
}

.left > .icon {
  width: 100%;
  height: 45%;
  top: 0;
}

.left > .icon img {
  margin-top: -40px;
  margin-bottom: -10px;
}

.detailsLabel {
  width: 100%;
}

div.detLabel {
  display: inline-block;
  width: 50%;
  text-align: right;
  color: whitesmoke;
  margin-right: 15px;
}
